@mixin common{
    position: absolute;
    transform: translate(-50%, -50%);
}

@mixin common-2{
    text-align: center;
    left: 50%;
    color: white;
    font-family:$font-family1;
    margin: 0;
    padding: 0%;
}

@mixin dimensions($height,$width){
    height: $height;
    width: $width;
}
