// Header styling scss file
@import '../Styles/config';

//styling the header component displaying title
.main-header{
    width: auto;
    text-align: center;
    background-color: $primary-color;
    color: white;
    height: 90px;
    .main-heading{
        padding-top: 30px;
        text-align: center;
        margin-left: 50px;
        background-color: $primary-color;
    }
    
}